.banner {
    .bg-banner {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    }

    .content {
      font-family: 'UTM BryantLG';
      top: 50%;
      left: 60px;
      transform: translateY(-50%);

      .slogan-first {
        color: #11114e;
        font-weight: 400;
        font-size: 50px;
        line-height: 61px;
      }

      .slogan-second {
        color: #505353;
        margin: 20px 0;
        font-size: 20px;
        line-height: 25px;
      }

      .button {
        color: white;
        font-weight: 700;
        background-color: $main-color;
        border-radius: 35px;
        box-shadow: 0 -5px #94af2b;
        line-height: 37px;
        font-size: 30px;
        border: 0;
        padding: 16px 67px;
      }
    }
  }

  .banner .slogan-first {
    span {
      font-weight: 700;
    }
  }

  .bg-bottom-of-banner {
    height: 161px;
    background: #E5E5E5;
  }

  @media (min-width: 770px) {
    .banner {
      position: relative;

      .bg-banner {
        background-image: url("/images/Hapo_Learn_banner.png");
        padding-top: 45.5%;
      }

      .content {
        position: absolute;
      }
    }
  }

  @media (max-width: 768px) and (min-width: 375px) {
    .banner {
      position: relative;

      .bg-banner {
        background-image: url("/images/Hapo_Learn_banner.png");
        padding-top: 49.5%;
      }

      .content {
        position: absolute;
        left: 27px;

        .slogan-first {
          font-size: 30px;
          line-height: 37px;
        }

        .slogan-second {
          font-size: 16px;
          line-height: 20px;
        }

        .button {
          font-size: 16px;
          line-height: 20px;
          border: 0;
          padding: 9px 35px;
        }
      }
    }

    .banner {
      .content {
        .slogan-first-img {
          width: 40px;
        }
      }
    }
  }

  @media (max-width: 375px) {
    .banner {
      display: flex;
      flex-direction: column;

      .bg-banner {
        background-image: url("/images/Hapo_Learn_banner.png");
        padding-top: 45.5%;
      }

      .content {
        margin: 110px 0 0 60px;
        display: flex;
        flex-direction: column;

        .slogan-first {
          font-size: 25px;
          line-height: 31px;
        }

        .slogan-second {
          font-size: 16px;
          line-height: 20px;
        }

        .button {
          font-size: 18px;
          line-height: 22px;
          border: 0;
          padding: 12px 52px;
          align-self: center;
        }
      }
    }

    .banner {
      .content {
        .bg-img {
          width: 34px;
        }
      }
    }
  }
