.main-header {
  border-bottom: 4px solid #f5f5f5;
  font-family: Open Sans;
}

.navbar {
  display: flex;
}

.navbar-brand {
  padding-left: 44px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}
