.why-hapolearn {
  background-image: url("/images/bg-why.png");

  .why-container {
    text-align: center;
    padding: 4rem;
    padding-right: 0;

    .why-content {
      font-family: 'UTM BryantLG';
      color: white;
      margin: auto;
      margin-bottom: 5rem;
      line-height: 2;
    }
  }
}

.why-content {
  .why-heading {
    font-size: 70px;
    text-transform: capitalize;
  }

  .why-container-list {
    .why-item {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .why-hapolearn {
    .why-container {
      padding: 0;
    }
  }

  .why-content {
    line-height: 2;

    .why-heading {
      font-size: 45px;
      position: absolute;
      width: 100%;
      left: 20vw;
    }

    .why-container-list {
      padding-top: 7em;

      .why-item {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  .why-container {
    .why-image {
      padding-top: 5rem;
      left: -5rem;
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .why-hapolearn {
    .why-container {
      padding: 0;

      .why-content {
        margin-bottom: 0;
        margin-top: 7rem;
      }
    }
  }

  .why-content {
    .why-heading {
      font-size: 40px;
      text-align: left;
      line-height: 1;
      top: -5rem;
      left: 10rem;
    }

    .why-container-list {
      .why-item {
        font-size: 12px;
        font-weight: 400;
        line-height: 3;
      }
    }
  }

  .why-container {
    .why-image {
      padding: 2.5rem;
      margin: auto;
      margin-bottom: 1.5rem;
      transform: scale(3.5);
    }
  }
}
