.reason {
  width: 100%;
  background-image: url("/images/bg-why.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  font-family: "UTM BryantLG";
  color: white;

  .container {
    .row {
      justify-content: space-between;
      display: flex;
      flex-wrap: nowrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .col-sm,
    .col-sm-6 {
      transform: translateY(18%);

      .why-tittle {
        font-weight: 700;
        font-size: 60px;
        line-height: 86px;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: capitalize;
      }

      .why-content {
        .why-list-reason {
          display: flex;
          align-items: center;
          margin: 10px 0;

          .icon-check {
            transform: translateY(-6px);
            font-size: 25px;
            margin-right: 11px;
          }

          .why-text {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.05em;
          }
        }
      }
    }
  }
}

@media (min-width: 780px) and (max-width: 1440px) {

  .why-tittle {
    font-size: 50px;
    transform: translateX(62%) translateY(-40%);
  }

  .img-devices {
    margin-top: 53px;
    margin-bottom: 100px;
  }

  .reason {
    width: 100%;

    .container {
      .row {
        .why-content {
          .why-list-reason {
            .why-text {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 780px) {
  .reason {
    .container {
      .row {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
