// Body
$body-bg: #f8fafc;

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: UTM BryantLG;
  src: url("/fonts/UTM_BryantLG_B.ttf");
  src: url("/fonts/UTM_BryantLG.ttf");
  src: url("/fonts/utm_bryantlg-webfont.woff");
  src: url("/fonts/utm_bryantlg-webfont.woff2");
}

$main-color: #B2D235;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

main {
  min-height: 54vh;
}
